doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title ComeSinger
  // Favicon
  link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
  // Bootstrap Icons
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
  // SimpleLightbox plugin CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css', rel='stylesheet')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
  .container.px-4.px-lg-5
    a.navbar-brand(href='#page-top') ComeSinger
    button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.my-2.my-lg-0
        li.nav-item
          a.nav-link(href='#about') About
        li.nav-item
          a.nav-link(href='#services') Services
        li.nav-item
          a.nav-link(href='#portfolio') Dreams
        li.nav-item
          a.nav-link(href='#contact') Contact
// Masthead
header.masthead
  .container.px-4.px-lg-5.h-100
    .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
      .col-lg-8.align-self-end
        h2.text-white.font-weight-bold Composer Singer&#xAC00; &#xD558;&#xB098;&#xAC00; &#xB418;&#xB294; &#xACF5;&#xAC04; ComeSinger
        hr.divider
      .col-lg-8.align-self-baseline
        p.text-white-75.mb-5 &#xBC1C;&#xAD74;&#xB418;&#xC9C0; &#xC54A;&#xC740; &#xC720;&#xB9DD;&#xD55C; &#xC791;&#xACE1;&#xAC00;&#xB4E4;&#xC758; &#xC7AC;&#xB2A5;&#xC744; &#xC9C0;&#xAE08;&#xBC14;&#xB85C; &#xB9CC;&#xB098;&#xBCF4;&#xC138;&#xC694;
        a.btn.btn-primary.btn-xl(href='#about') Find Out More
// About
section#about.page-section.bg-primary
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-8.text-center
        h2.text-white.mt-0 &#xB2F9;&#xC2E0;&#xC774; &#xCC3E;&#xB358; &#xC2E0;&#xC120;&#xD55C; &#xACE1;&#xB4E4;&#xC774; &#xD55C;&#xC790;&#xB9AC;&#xC5D0;
        hr.divider.divider-light
        p.text-white-75.mb-4
          | ComeSinger&#xB294; &#xB2F9;&#xC2E0;&#xC774; &#xCC3E;&#xB358; &#xC2E0;&#xC120;&#xD55C; &#xACE1;&#xB4E4;&#xC744; &#xD55C;&#xBC88;&#xC5D0; &#xB9CC;&#xB098;&#xBCFC; &#xC218; &#xC788;&#xB294; &#xC791;&#xACE1;&#xAC00;&#xC640; &#xAC00;&#xC218;&#xB97C; &#xC5F0;&#xACB0; &#xC2DC;&#xCF1C;&#xC8FC;&#xB294;
          | &#xD1B5;&#xD569; &#xD50C;&#xB7AB;&#xD3FC; &#xC785;&#xB2C8;&#xB2E4;. &#xC774; &#xACF5;&#xAC04;&#xC5D0;&#xC11C; &#xB2F9;&#xC2E0;&#xC774; &#xCC3E;&#xB358; &#xACE1;&#xB4E4;&#xC744; &#xB9CC;&#xB098;&#xBCFC; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;.
        a.btn.btn-light.btn-xl(href='../submain/Selling.html') Go TO Mall
// Services
section#services.page-section
  .container.px-4.px-lg-5
    h2.text-center.mt-0 At Your Service
    hr.divider
    .row.gx-4.gx-lg-5
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-gem.fs-1.text-primary
          h3.h4.mb-2 Diamond Composer
          p.text-muted.mb-0 &#xB2E4;&#xC774;&#xC544;&#xBAAC;&#xB4DC; &#xAC19;&#xC740; &#xC218;&#xB9CE;&#xC740; &#xC791;&#xACE1;&#xAC00;&#xB4E4;&#xC758; &#xACE1;&#xC774; &#xB2F9;&#xC2E0;&#xC744; &#xAE30;&#xB2E4;&#xB9BD;&#xB2C8;&#xB2E4;.
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-laptop.fs-1.text-primary
          h3.h4.mb-2 Up to Date
          p.text-muted.mb-0 &#xB9E4;&#xC77C;&#xB9E4;&#xC77C; &#xC791;&#xACE1;&#xB41C; &#xC218;&#xB9CE;&#xC740; &#xACE1;&#xC774; &#xC5C5;&#xB85C;&#xB4DC; &#xB429;&#xB2C8;&#xB2E4;.
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-globe.fs-1.text-primary
          h3.h4.mb-2 Ready to Global
          p.text-muted.mb-0 ComeSinger&#xB294; &#xC804;&#xC138;&#xACC4; &#xC791;&#xACE1;&#xAC00;, &#xAC00;&#xC218; &#xC5EC;&#xB7EC;&#xBD84;&#xC744; &#xB9DE;&#xC774;&#xD560; &#xC900;&#xBE44;&#xAC00; &#xB418;&#xC5B4;&#xC788;&#xC2B5;&#xB2C8;&#xB2E4;!
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-heart.fs-1.text-primary
          h3.h4.mb-2 Made with Love
          p.text-muted.mb-0 &#xACE1;&#xC774;&#xC5C6;&#xC5B4; &#xD798;&#xB4E4;&#xC5B4;&#xD558;&#xB358; &#xAC00;&#xC218;, &#xC88B;&#xC740;&#xB178;&#xB798;&#xB97C; &#xC54C;&#xB9AC;&#xC9C0; &#xBABB;&#xD558;&#xB294; &#xC791;&#xACE1;&#xAC00;&#xAC00; &#xD558;&#xB098;&#xAC00; &#xB418;&#xB294; &#xACF5;&#xAC04;&#xC785;&#xB2C8;&#xB2E4;.
// Portfolio
#portfolio
  .container-fluid.p-0
    .row.g-0
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg', title='Dream')
          img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Dream
            .project-name Get
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg', title='Come')
          img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Come
            .project-name With
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg', title='True')
          img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 True
            .project-name Our
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg', title='Dream')
          img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Dream
            .project-name Get
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg', title='Come')
          img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Come
            .project-name With
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg', title='True')
          img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='...')
          .portfolio-box-caption.p-3
            .project-category.text-white-50 True
            .project-name Our
// Call to action
section.page-section.bg-dark.text-white
  .container.px-4.px-lg-5.text-center
    h2.mb-4 &#xAFC8;&#xC774; &#xD604;&#xC2E4;&#xC774; &#xB418;&#xB294; &#xACF5;&#xAC04; ComeSinger
// Contact
section#contact.page-section
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-8.col-xl-6.text-center
        h2.mt-0 Feed Back
        hr.divider
        p.text-muted.mb-5
          | ComeSinger&#xB97C; &#xC774;&#xC6A9;&#xD558;&#xBA74;&#xC11C; &#xBD88;&#xD3B8;&#xC0AC;&#xD56D;, &#xAC1C;&#xC120;&#xC0AC;&#xD56D;&#xB4E4;&#xC744; &#xBCF4;&#xB0B4;&#xC8FC;&#xC138;&#xC694;
          br
          |  &#xAC80;&#xD1A0; &#xD6C4; &#xD68C;&#xC2E0;&#xB4DC;&#xB9AC;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
    .row.gx-4.gx-lg-5.justify-content-center.mb-5
      .col-lg-6
        // * * * * * * * * * * * * * * *
        // * * SB Forms Contact Form * *
        // * * * * * * * * * * * * * * *
        // This form is pre-integrated with SB Forms.
        // To make this form functional, sign up at
        // https://startbootstrap.com/solution/contact-forms
        // to get an API token!
        form#contactForm(data-sb-form-api-token='API_TOKEN')
          // Name input
          .form-floating.mb-3
            input#name.form-control(type='text', placeholder='Enter your name...', data-sb-validations='required')
            label(for='name') Full name
            .invalid-feedback(data-sb-feedback='name:required') A name is required.
          // Email address input
          .form-floating.mb-3
            input#email.form-control(type='email', placeholder='name@example.com', data-sb-validations='required,email')
            label(for='email') Email address
            .invalid-feedback(data-sb-feedback='email:required') An email is required.
            .invalid-feedback(data-sb-feedback='email:email') Email is not valid.
          // Phone number input
          .form-floating.mb-3
            input#phone.form-control(type='tel', placeholder='(123) 456-7890', data-sb-validations='required')
            label(for='phone') Phone number
            .invalid-feedback(data-sb-feedback='phone:required') A phone number is required.
          // Message input
          .form-floating.mb-3
            textarea#message.form-control(type='text', placeholder='Enter your message here...', style='height: 10rem', data-sb-validations='required')
            label(for='message') Message
            .invalid-feedback(data-sb-feedback='message:required') A message is required.
          // Submit success message
          // 
          // This is what your users will see when the form
          // has successfully submitted
          #submitSuccessMessage.d-none
            .text-center.mb-3
              .fw-bolder Form submission successful!
              |                                     To activate this form, sign up at
              br
              a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms
          // Submit error message
          // 
          // This is what your users will see when there is
          // an error submitting the form
          #submitErrorMessage.d-none
            .text-center.text-danger.mb-3 Error sending message!
          // Submit Button
          .d-grid
            button#submitButton.btn.btn-primary.btn-xl.disabled(type='submit') Submit
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-4.text-center.mb-5.mb-lg-0
        i.bi-phone.fs-2.mb-3.text-muted
        div 010 - 1234 - 5678
// Footer
footer.bg-light.py-5
  .container.px-4.px-lg-5
    .small.text-center.text-muted Copyright &copy; 2021 - ComeSinger
// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
// SimpleLightbox plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')
// Core theme JS
script(src='js/scripts.js')
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * *                               SB Forms JS                               * *
// * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
